.botao {
	background: #14692e;
	border-radius: 12px;
	font-weight: 700;
	font-size: 18px;
	padding: 20px;
	color: #fff;
	cursor: pointer;
	font-weight: bold;
	border: none;

	margin-top: 1rem;
}

.botao:hover {
	color: #95ffd4;
}
